<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/atl.ifml2application/ifml2OurMM.atl"/>
<stringAttribute key="ATL VM" value="Regular VM"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="ifml" value="IFMLMM"/>
<mapEntry key="uml" value="UMLMM"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="IFMLMM" value="EMF"/>
<mapEntry key="UMLMM" value="EMF"/>
<mapEntry key="ourMM" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IFMLMM" value="METAMODELINPUT"/>
<mapEntry key="UMLMM" value="METAMODELINPUT"/>
<mapEntry key="ifml" value="MODELINPUT"/>
<mapEntry key="ourMM" value="METAMODELOUTPUT"/>
<mapEntry key="ourm" value="MODELOUTPUT"/>
<mapEntry key="uml" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="continueAfterError" value="false"/>
<mapEntry key="disableAttributeHelperCache" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="profile" value="false"/>
<mapEntry key="showSummary" value="false"/>
<mapEntry key="step" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="ifml"/>
<listEntry value="uml"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="ourm"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="ourm" value="ourMM"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IFMLMM" value="uri:http://www.omg.org/spec/20130218/core"/>
<mapEntry key="UMLMM" value="uri:http://www.eclipse.org/uml2/5.0.0/UML"/>
<mapEntry key="ifml" value="/ifml.php/models/movies.core"/>
<mapEntry key="ourMM" value="uri:http://www.application.org"/>
<mapEntry key="ourm" value="/atl.ifml2application/mod-gen.xmi"/>
<mapEntry key="uml" value="/ifml.php/models/model.uml"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
<stringAttribute key="bad_container_name" value="atl.ifml2application/j"/>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
</launchConfiguration>
