<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/atl.ifml2application/test.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="extm" value="extMM"/>
<mapEntry key="ifmlm" value="ifmlMM"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="OurMM" value="EMF"/>
<mapEntry key="extMM" value="EMF"/>
<mapEntry key="ifmlMM" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="OurMM" value="METAMODELOUTPUT"/>
<mapEntry key="extMM" value="METAMODELINPUT"/>
<mapEntry key="extm" value="MODELINPUT"/>
<mapEntry key="ifmlMM" value="METAMODELINPUT"/>
<mapEntry key="ifmlm" value="MODELINPUT"/>
<mapEntry key="ourm" value="MODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="ifmlm"/>
<listEntry value="extm"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="ourm"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="ourm" value="OurMM"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="OurMM" value="uri:http://www.application.org"/>
<mapEntry key="extMM" value="uri:http://www.omg.org/spec/20130218/ext"/>
<mapEntry key="extm" value="/ifml.php/models/movies.core"/>
<mapEntry key="ifmlMM" value="uri:http://www.omg.org/spec/20130218/core"/>
<mapEntry key="ifmlm" value="/ifml.php/models/movies.core"/>
<mapEntry key="ourm" value="/atl.ifml2application/mod-test.xmi"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
<stringAttribute key="bad_container_name" value="atlRunConfiguration"/>
</launchConfiguration>
